body {
  background-color: var(--Green200-l);
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}
input {
  border: 1px solid var(--Grey500-m);
  border-radius: 5px;
  width: 100%;
  height: 35px;
}

textarea {
  border: 1px solid var(--Grey500-m);
  border-radius: 5px;
}
input:focus,
textarea:focus,
.changeColor:focus-within {
  border: 1.6px solid var(--Green600-m);
  outline: none;
}
input:hover {
  cursor: pointer;
}


label.term {
  cursor: pointer;
}

span,
label {
  font-size: 12px;
}

.btn-green-form {
  background-color: var(--Green600-m);
  height: 35px;
  border-radius: 5px;
  width: 100%;
  color: white;
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
}
.bg-gray-div {
  border: 1px solid var(--Grey500-m);
  height: 35px;
  border-radius: 5px;
  width: 100%;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Grey500-m: hsl(186, 15%, 59%);
  --Grey900-d: hsl(187, 24%, 22%);

  --Green200-l: hsl(148, 38%, 91%);
  --Green400-m: hsl(169, 34%, 68%);
  --Green600-m: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
}

p {
  color: red;
  font-size: 11px;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: white !important;

  color: fieldtext !important;
}
